body {
  text-align: center;
  color: antiquewhite;
  background: rgb(79,14,122);
background: linear-gradient(90deg, rgba(79,14,122,0.9318321078431373) 16%, rgba(12,15,144,1) 57%, rgba(0,0,0,1) 100%);
}

.NavBar{
  list-style: none;
  display:flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
  text-decoration: none;
  font-size: x-large;
}

.NavBar > li > a{
  color: antiquewhite;
  text-decoration: none;
}
iframe{
  width: 35%;

}
.react{
  display:flex;
  justify-content: center;
 }
 .python{
  display:flex;
  justify-content: center;
  margin-top: 100px;
 }

 .react-text {
  margin-top: 30px;
  margin-right: 50px;
 }
 .python-text{
  margin-top: 30px;
  margin-left: 50px;
 }

@media only screen and (max-width: 600px) {
  iframe{
    width: 100%;
  }
  .python{
    display: flex;
    flex-direction: column-reverse;
  }

  .react{
    display: flex;
    flex-direction: column;
  }
  
  .react-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

  }
  .python-text{
    margin-top: -100px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

