.App {
  text-align: center;
}

.NavBar{
  list-style: none;
  display:flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
}
iframe{
  width: 35%;

}
.react{
  display:flex;
  justify-content: center;
 }
 .python{
  display:flex;
  justify-content: center;
  margin-top: 100px;
 }

 .react-text {
  margin-top: 50px;
  margin-right: 100px;
 }
 .python-text{
  margin-top: 50px;
  margin-left: 100px;
 }

 @media only screen and (max-width: 600px) {
  iframe{
    width: 100%;
  
  }
  
   .python{
    display: flex;
    flex-direction: column-reverse;
   }

   .react{
    display: flex;
    flex-direction: column;
   }
  
   .react-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -30px;
;
   }
   .python-text{
    margin-top: -150px;
    margin-left: 0px;
    margin-bottom: -30px;
   }

 }

